@mixin promo {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
}

@mixin regular-lh-170 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
}

@mixin big-lh-170 {
  @include regular-lh-170;
  font-size: 17px;
  line-height: 29px;
}

@mixin regular-lh-150 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

@mixin big-lh-150 {
  @include regular-lh-150;
  font-size: 17px;
  line-height: 25px;
}

@mixin small {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}

@mixin promo {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

@mixin placeholder {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;

  color: rgba($black, 0.5);
}

@mixin btn {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;

  color: $black;
  opacity: 0.87;
}

@mixin form-btn {
  box-sizing: border-box;

  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 59px;
  font-variant: small-caps;
  text-transform: uppercase;

  height: 59px;

  border: none;
  border-radius: 30px;
  background: $gradient;

  color: $white;
  text-shadow: $text-shadow;

  &:hover,
  &:focus {
    background: $hover-gradient;
    cursor: pointer;
    outline: none;
  }

  &:active {
    background: $active-gradient;
  }
}
