@mixin promo {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

@mixin regular-lh-170 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
}

@mixin big-lh-170 {
  @include regular-lh-170;
  font-size: 17px;
}

@mixin regular-lh-150 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

@mixin big-lh-150 {
  @include regular-lh-150;
  font-size: 17px;
  line-height: 150%;
}

@mixin small {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
}

@mixin promo {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

@mixin placeholder {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;

  color: $black;
  opacity: 0.5;
}

@mixin btn {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;

  color: $black;
  opacity: 0.87;
}
