.page-footer {
  position: relative;

  top: -25px;

  height: 49px;

  border-top: 2px solid rgba($black, 0.2);
}

.page-footer__container {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 1366px;

  width: 100%;
  height: 100%;

  margin: 0 auto;

  padding-left: 110px;
  padding-right: 114px;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;

  height: 24px;
}

.page-footer__social-list li {
  margin-right: 21px;
}

.page-footer__developer {
  @include small;

  margin-left: 26px;
  margin-bottom: 2px;

  font-size: 12px;
  opacity: 0.5;
}

.page-footer__logo-wrapper {
  position: relative;
  top: 5px;
  left: -2px;
}

@media (max-width: $mobile-width) {
  .page-footer {
    top: -35px;
  }

  .page-footer__container {
    flex-direction: column;
    align-items: center;

    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-left: 0;
  }

  .page-footer__logo-wrapper {
    top: unset;
    left: 2px;

    margin-bottom: 20px;
  }

  .page-footer__logo-wrapper img {
    width: 99px;
    height: 31px;
  }

  .page-footer__developer {
    width: 210px;

    margin-left: 5px;
    margin-bottom: 28px;
  }

  .page-footer__social-list li {
    margin-right: 20px;
  }

  .page-footer__social-list {
    margin-left: -7px;
    margin-bottom: 32px;
  }

  .page-footer__social-list svg {
    width: 32px;
    height: 32px;
  }
}
